img {
    width: 24.5rem;
    height: 24rem;
    margin-left: -0.5rem;
    margin-top: -1rem;
}

#caract {    
    width: 21rem;
    height: 6rem;
    margin: 2rem 0 2rem -0.05rem;
}

#return {
    background-color: #0E172C;
    color: white;
    border-color: transparent;
    margin-left: -0.5rem;
    float: left;
    margin-top: -24rem;
    text-align: center;
}

#fav {
    float: right;
    border-radius: 100%;
    margin-top: -0.5rem;
    text-decoration: none;
    background-color: lightgray;
    margin-right: 1rem;

}

#user {
    margin-top: -15rem;
    margin-left: -2rem;
    padding: 1rem;
    height: 22rem;
    width: 22rem;
}